// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$grey98: #989898;
$greyf3: #f3f3f3;
$blackBasic: #000000;
$whiteBasic: #ffffff;

// padding
$paddingNormal: 20px;
