.input_wrapper {
  text-align: left;
  flex: 1;
  .input {
    padding-left: 10px;
    padding-right: 50px;
    border-radius: 5px;
    width: 100%;
    background-color: #808080bd;
    border: none;
    height: 50px;
    font-size: 15px;
  }
  .label {
    display: inline-block;
    margin-bottom: 15px;
  }
}
