@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.main {
  margin-left: 200px;
  height: 100vh;
}

a {
  text-decoration: none;
}

input {
  padding: 10px 14px !important;
  border: none;
}

label.Mui-focused {
  color: black;
}
