@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.main {
  margin-left: 200px;
  height: 100vh;
}

a {
  text-decoration: none;
}

.MuiOutlinedInput-input.MuiInputBase-input {
  padding: 12px 14px;
}

.MuiOutlinedInput-root.Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: black;
  }
}

.MuiSelect-nativeInput {
  + .MuiSvgIcon-root {
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
  }
}
