@import "../../assets/scss/_variables.scss";

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 5rem;

  .container {
    width: 30%;
    .h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    #signup {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      .button {
        padding: 1rem 2rem;
        font-size: 2rem;
        color: $primaryLight2Color;
        background-color: $primaryColor;
      }
    }
  }
}
