@import "../../assets/scss/_variables.scss";
@import "../../assets/scss/_mixins.scss";

.sign_in {
  width: 100%;
  height: 85%;
  @include flex-center-column;
  .bottom_signup {
    text-align: right;
    a {
      margin-left: 20px;
    }
  }
  .icon {
    color: black;
  }
  .form {
    width: 35%;
  }
}
