@import "../../assets/scss/_variables.scss";

.header {
  display: flex;
  justify-content: center;
  .nav {
    font-size: 1rem;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .log_out {
      color: white;
      background-color: $primaryColorOne;
      padding: 1rem;
    }
    .a {
      text-decoration: none;
    }
    .header_right {
      .a,
      .log_out {
        margin-left: 1rem;
      }
    }
  }
}
