@import "../../assets/scss/_variables.scss";
@import "../../assets/scss/_mixins.scss";

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $grey98;
  overflow-x: hidden;
  a {
    text-decoration: none;
    font-size: 16px;
    color: $whiteBasic;
    cursor: pointer;
  }
  .menu {
    padding: $paddingNormal;
    @include flex-column;
    gap: 15px;
  }
  .logo {
    padding: $paddingNormal;
    a {
      font-size: 25px;
    }
  }

  .account {
    position: absolute;
    bottom: 0;
    padding: $paddingNormal;
    width: 100%;
    .bottom {
      padding-top: 10px;
    }
  }
  .sidebar_item {
    @include flex-row-vertical-center;
    gap: 10px;
    svg {
      color: $whiteBasic;
    }
  }
}
